{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h4 class="header">{{ name }}</h4>
        </div>
        <div class="col-2">
            <a href="get_image?id={{ bingo.pk }}" class="btn btn-light"
               style="background-color: #baefd1; float:right ">Download</a>
        </div>
        <div class="col-2">
            <a href="bingo_settings?id={{ bingo.pk }}" class="btn btn-light"
               style="background-color: #baefd1; float:right ">Settings</a>
        </div>
        <div class="col-2">
            <a href="bingo_delete?id={{ bingo.pk }}" class="btn btn-light"
               style="background-color: #ff4646; color: #EFEFEF">DELETE</a>
        </div>

    </div>
    {% if private %}
        <p>This is Private bingo.</p>
    {% endif %}
    <hr/>
    {% if bingo_done %}
        <h3 style="background-color: #baefd1; text-align: center; font-size: xxx-large; font-weight: bolder">BINGO</h3>
    {% endif %}
    <table class="table">
        <thead style="background-color: #baefd1; text-align: center; font-size: xx-large;">
        <tr>
            <th scope="col">T</th>
            <th scope="col">R</th>
            <th scope="col">O</th>
            <th scope="col">P</th>
            <th scope="col">E</th>
        </tr>
        </thead>
        <tbody class="tbody-border border-dark">
        {% for row in tropes %}
            <tr class="tr-border border-dark">
                {% for trope in row %}
                    <td  title="{{ trope.description }}" {% if trope in checked_tropes %}style="color: #EFEFEF; background-color: #3e7255; border-bottom-color: black;"{% endif %}>
                        {{ trope.name }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    {% if not bingo_done %}
        <a href="play_bingo?id={{ bingo.pk }}" class="btn btn-light"
           style="background-color: #baefd1; float:right ">Play</a>
    {% endif %}
{% endblock %}