{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h4 class="header">{{ name }}</h4>
        </div>
    </div>
    {% if bingo_done %}
        <h3 style="background-color: #baefd1; text-align: center; font-size: xxx-large; font-weight: bolder">BINGO</h3>
    {% endif %}
    <table class="table">
        <thead style="background-color: #baefd1; text-align: center; font-size: xx-large;">
        <tr>
            <th scope="col">T</th>
            <th scope="col">R</th>
            <th scope="col">O</th>
            <th scope="col">P</th>
            <th scope="col">E</th>
        </tr>
        </thead>
        <tbody class="tbody-border border-dark">
        {% for row in tropes %}
            <tr class="tr-border border-dark">
                {% for trope in row %}
                    <td {% if trope in checked_tropes %}style="color: #EFEFEF; background-color: #3e7255; border-bottom-color: black;"{% endif %}>
                        {{ trope.name }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}