body {
    background-color: #8edbb3;
}

.navbar{
    background-color: #baefd1;
    margin:20px auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.cart-title{
    text-decoration-color: #8edbb3;
    font-size: large;
}
#content {
    width: 750px;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #EFEFEF;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

.float-right {
    float: right;
}

.nav-item a:active{
    background-color: #49936a;
    text-decoration-color: ghostwhite;
}