body {
    background-color: #8edbb3;
}

.navbar{
    background-color: #baefd1;
    margin: 5px auto 25px;
    padding: 5px ;
    border: 1px solid rgb(0, 0, 0);
}

.cart-title{
    text-decoration-color: #8edbb3;
    font-size: large;
}

#content {
    width: 750px;
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #EFEFEF;
    border: 5px solid black;
    border-radius: 10px;
}

.float-right {
    float: right;
}

.nav-item a:active{
    background-color: #49936a;
    text-decoration-color: ghostwhite;
}

.nav-item a:hover{
    background-color: #49936a;
    text-decoration-color: ghostwhite;
}
