{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5>Search for friends</h5>
            </div>
            <div class="col-6">
                <h5>
                    Friend Requests
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
               <!--Search-->
                <input type="search" id="search-input">
            </div>
            <div class="col-6" >
                <br/>
            </div>
        </div>
        <div class="row">
             <div class="col-6" id="search-results" style="overflow-y: auto; height: 250px; max-height:50%;">
             </div>
            <div class="col-6" style="overflow-y: auto; height: 250px; max-height:50%">
                <table class="table">
                    {% for fq in friend_requests %}
                        <tr>
                            <td>
                                <a href="view_profile?id={{ fq.sender.pk }}"
                                   style="font-size: larger">{{ fq.sender.username }}</a>
                                <p style="font-size: x-small; color: #49936a">{{ fq.time_stamp }}</p>
                            </td>
                            <td>
                                <a href="accept_request?id={{ fq.pk }}" class="btn btn-light"
                                   style="background-color: #baefd1; float:right ">
                                    Accept</a>
                            </td>
                            <td>
                                <a href="delete_request?id={{ fq.pk }}" class="btn btn-light"
                                   style="background-color: #ff4646; float:right ; color: #EFEFEF;">
                                    DELETE</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}