{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <h4 class="card-title">{{user.username}}</h4>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <a href="user_edit?id={{ user.pk }}">Edit profile</a>
    </div>
    <br/>
    <div>
    Bingo sheets:
   <div class="list">
        {% for bingo in BingoSheet %}
            <!--<div class="list-item">{{ bingo.name }}</div>-->
             <a href="bingo?id={{ bingo.pk }}" class="list-item">{{ bingo.name }}</a>
        {% endfor %}
    </div>
    </div>
{% endblock content %}